@using EmergencyManagementSystem.Service.Models
@using EmergencyManagementSystem.Service.Enums

@model EmergencyModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> Messages = ViewBag?.Error;
    List<EmergencyModel> emergencies = ViewBag.Emergencies;
    List<VehicleModel> vehiclesAvaiable = ViewBag.VehiclesAvaiable;
    long? emergencyRequiredVehicleId = ViewBag?.EmergencyRequiredVehicleId;

    EmergencyRequiredVehicleModel requiredVehicle = Model?.EmergencyRequiredVehicleModels?.FirstOrDefault() ?? new EmergencyRequiredVehicleModel();
    ServiceHistoryModel serviceHistoryModel = Model?.ServiceHistoryModels?.FirstOrDefault() ?? null;
}


<div class="content">
    @if (Messages != null)
    {
        <div class="m-b-3" id="error-notification">
            <div class="callout callout-info" style="margin-bottom: 0!important;">
                <h4><i class="fa fa-warning"></i> Nota:</h4>
                @foreach (string error in Messages)
                {
                    @error<br />
                }
            </div>
        </div>
    }
    <div class="row">
        <div class="col-lg-4">

            <div id="refTable">
                @Html.Partial("Emergencies", emergencies)
            </div>
        </div>


        <div class="col-lg-8">
            <div class="info-box">
                <div class="card tab-style1">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs profile-tab" role="tablist">
                        @if (vehiclesAvaiable != null)
                        {
                            <li class="nav-item"> <a id="tabVehicle" class="nav-link" data-toggle="tab" href="#home" role="tab" aria-expanded="false">Enviar Veículo</a> </li>
                        }
                        @if (serviceHistoryModel != null)
                        {
                            <li class="nav-item"> <a id="tabData" class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-expanded="false">Dados da Ocorrência</a> </li>
                        }
                        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#main" role="tab" aria-expanded="true">Controle de Veículos</a> </li>
                    </ul>

                    <!-- TAB DE ESCOLHA DE VEÍCULO PARA EMPENHAR NA VTR -->
                    <div class="tab-content">
                        @if (vehiclesAvaiable != null)
                        {
                            <div class="tab-pane" id="home" role="tabpanel" aria-expanded="false">
                                <div class="row m-t-3-1">
                                    <div class="col-lg-12">
                                        <div class="card-body">
                                            <form method="post" action="@Url.Action("Register", "VehicleManagement")">
                                                <h4 class="text-white">OC: @(Model?.Id) - @Model.Name<span class="pull-right"><b>@Model.Date.ToShortDateString()  @Model.Date.ToShortTimeString()</b></span> </h4>
                                                <h5 class="text-white"><b>Solicitante:</b> @Model.RequesterName</h5>
                                                <h5 class="text-white"><b>Telefone:</b> @Model.RequesterPhone</h5>
                                                <hr />

                                                <div class="sidebar-menu" data-widget="tree">
                                                    <div class="treeview">
                                                        <a href="#" onclick="searchMaps()"> <i class="fa fa-map-marker"></i> <span>Localização</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                                                        <div class="treeview-menu" id="teste">

                                                            <label>
                                                                @Model.AddressModel.City/@Model.AddressModel.District - @Model.AddressModel.Street, @Model.AddressModel.Number
                                                                @Model.AddressModel.Complement. Prox: @Model.AddressModel.Reference
                                                            </label>
                                                            <input id="pac-input"
                                                                   class="controls"
                                                                   type="text"
                                                                   placeholder="Procurar" value="@Model.AddressModel.Street - @Model.AddressModel.District, @Model.AddressModel.City" />

                                                            <div id="map">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr />
                                                <h5 class="box-title text-white">
                                                    Veículo: @requiredVehicle.VehicleType.GetEnumDescription() - Código: @requiredVehicle.CodeColor.GetEnumDescription()
                                                </h5>
                                                <!--Listar Veículos disponíveis-->
                                                <div class="">
                                                    <div class="row">

                                                        @foreach (var vehicle in vehiclesAvaiable)
                                                        {
                                                            <div class="col-md-3">
                                                                <div class="info-box">
                                                                    <span class="info-box-icon bg-red"><i class="fa @vehicle.GetIconByType()"></i></span>
                                                                    <span class=""> <span class="info-box-number">@vehicle.Codename</span> <span class="info-box-text"></span> </span>
                                                                </div>
                                                                <center>
                                                                    <h5><a href="@Url.Action("SendVehicle", "VehicleManagement", new { vehicleId = vehicle.Id, emergencyRequiredVehicleId })">@vehicle.OperationCity<i class="fa fa-mail-forward"></i></a></h5>
                                                                </center>
                                                            </div>

                                                            <br />
                                                        }

                                                    </div>
                                                </div>

                                                <hr />
                                                <input hidden name="Id" value="@Model.Id" />
                                                <input hidden name="RequiredVehicleId" value="@emergencyRequiredVehicleId" />
                                                <input hidden name="EmergencyStatus" value="@Model.EmergencyStatus" />

                                                <div class="">
                                                    <button id="btnCancel" onclick="appendCancel()" class="btn btn-block bg-light">Cancelar Veículo</button>
                                                </div>
                                                <input hidden name="Status" value="@requiredVehicle.Status" />
                                                <div id="cancel" class="hide">
                                                    <hr />
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group has-feedback">
                                                                <label class="control-label">Comentário</label>
                                                                <textarea name="Description" class="form-control" id="placeTextarea" rows="1" placeholder="Observação"></textarea>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <button type="submit" class="btn btn-sm bg-purpleTest">Registrar Cancelamento</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <!--TAB DADOS DA OCORRENCIA-->
                        @if (serviceHistoryModel != null)
                        {
                            <div class="tab-pane" id="profile" role="tabpanel" aria-expanded="false">

                                <div class="row m-t-3-1">
                                    <div class="col-lg-12">
                                        <div class="card-body">
                                            <h4 class="text-white">OC: @(Model?.Id) - @Model.Name<span class="pull-right"><b>@Model.Date.ToShortDateString()  @Model.Date.ToShortTimeString()</b></span> </h4>
                                            <h5 class="text-white"><b>Solicitante:</b> @Model.RequesterName</h5>
                                            <h5 class="text-white"><b>Telefone:</b> @Model.RequesterPhone</h5>
                                            <hr />

                                            <div class="sidebar-menu" data-widget="tree">
                                                <div class="treeview">
                                                    <a href="#" onclick="searchMaps()"> <i class="fa fa-map-marker"></i> <span>Localização</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                                                    <div class="treeview-menu" id="teste">

                                                        <label>
                                                            @Model.AddressModel.City/@Model.AddressModel.District - @Model.AddressModel.Street, @Model.AddressModel.Number
                                                            @Model.AddressModel.Complement. Prox: @Model.AddressModel.Reference
                                                        </label>
                                                        <input id="pac-input"
                                                               class="controls"
                                                               type="text"
                                                               placeholder="Procurar" value="@Model.AddressModel.Street - @Model.AddressModel.District, @Model.AddressModel.City" />
                                                        <div id="map">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />

                                            <div class="box-header with-border">
                                                <h5 class="box-title text-white">
                                                    Histórico de Avaliação Médica
                                                </h5>
                                            </div>
                                            <div class="direct-chat-messages">
                                                <table id="" class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th class="wt20">Data</th>
                                                            <th class="wt15">Profissional</th>
                                                            <th class="wt15">Paciente</th>
                                                            <th class="wt50">Avaliação</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="">
                                                        @foreach (var item in Model.MedicalEvaluationModels)
                                                        {
                                                            <tr>
                                                                <td>@item.Date</td>
                                                                <td>@item.EmployeeName</td>
                                                                <td>@(item?.PatientModel?.Name ?? "")</td>
                                                                <td>@item.Evaluation</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br />
                                            <hr />
                                            <!--Implementar os J's aqui-->
                                            <h5 class="box-title text-white">
                                                Posição da viatura - @serviceHistoryModel.VehicleModel.Codename
                                            </h5>
                                            @{
                                                var j9Local = serviceHistoryModel.VehiclePositionHistoryModels.FirstOrDefault(d => d.VehiclePosition == EmergencyManagementSystem.Service.Enums.VehiclePosition.J9Local);
                                                var j10Local = serviceHistoryModel.VehiclePositionHistoryModels.FirstOrDefault(d => d.VehiclePosition == EmergencyManagementSystem.Service.Enums.VehiclePosition.J10Local);
                                                var j9Hospital = serviceHistoryModel.VehiclePositionHistoryModels.FirstOrDefault(d => d.VehiclePosition == EmergencyManagementSystem.Service.Enums.VehiclePosition.J9Hospital);
                                                var j10Hospital = serviceHistoryModel.VehiclePositionHistoryModels.FirstOrDefault(d => d.VehiclePosition == EmergencyManagementSystem.Service.Enums.VehiclePosition.J10Hospital);
                                                var j11 = serviceHistoryModel.VehiclePositionHistoryModels.FirstOrDefault(d => d.VehiclePosition == EmergencyManagementSystem.Service.Enums.VehiclePosition.J11);
                                                var j12 = serviceHistoryModel.VehiclePositionHistoryModels.FirstOrDefault(d => d.VehiclePosition == EmergencyManagementSystem.Service.Enums.VehiclePosition.J12);
                                            }

                                            <div class="card-group align-items-center">
                                                <div class="col-2">
                                                    <div class="form-group has-feedback">
                                                        <a href="@Url.Action("RegisterPosition","VehicleManagement", new {serviceHistoryId = serviceHistoryModel.Id, vehiclePosition = VehiclePosition.J9Local, emergencyId = serviceHistoryModel.EmergencyId })"><label class="control-label"> + J9 </label></a>
                                                        <input class="form-control" type="text" id="J9Local" value="@(j9Local?.Date.ToString("dd/MM HH:ss"))">
                                                    </div>
                                                </div>
                                                <div class="col-2">

                                                    <div class="form-group has-feedback">
                                                        <a href="@Url.Action("RegisterPosition","VehicleManagement", new {serviceHistoryId = serviceHistoryModel.Id, vehiclePosition = VehiclePosition.J10Local, emergencyId = serviceHistoryModel.EmergencyId })"><label class="control-label"> + J10 </label></a>
                                                        <input class="form-control" type="text" id="J10Local" value="@(j10Local?.Date.ToString("dd/MM HH:ss"))">
                                                    </div>
                                                </div>
                                                <div class="col-2">

                                                    <div class="form-group has-feedback">
                                                        <a href="@Url.Action("RegisterPosition","VehicleManagement", new {serviceHistoryId = serviceHistoryModel.Id, vehiclePosition = VehiclePosition.J9Hospital, emergencyId = serviceHistoryModel.EmergencyId })"><label class="control-label"> + J9 </label></a>
                                                        <input class="form-control" type="text" id="J9Hospital" value="@(j9Hospital?.Date.ToString("dd/MM HH:ss"))">
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <div class="form-group has-feedback">
                                                        <a href="@Url.Action("RegisterPosition","VehicleManagement", new {serviceHistoryId = serviceHistoryModel.Id, vehiclePosition = VehiclePosition.J10Hospital, emergencyId = serviceHistoryModel.EmergencyId })"><label class="control-label"> + J10 </label></a>
                                                        <input class="form-control" type="text" id="J10Hospital" value="@(j10Hospital?.Date.ToString("dd/MM HH:ss"))">
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <div class="form-group has-feedback">
                                                        <a href="@Url.Action("RegisterPosition","VehicleManagement", new {serviceHistoryId = serviceHistoryModel.Id, vehiclePosition = VehiclePosition.J11, emergencyId = serviceHistoryModel.EmergencyId })"><label class="control-label"> + J11 </label></a>
                                                        <input class="form-control" type="text" id="J11" value="@(j11?.Date.ToString("dd/MM HH:ss"))">
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <div class="form-group has-feedback">
                                                        <a href="@Url.Action("RegisterPosition","VehicleManagement", new {serviceHistoryId = serviceHistoryModel.Id, vehiclePosition = VehiclePosition.J12, emergencyId = serviceHistoryModel.EmergencyId })"><label class="control-label"> + J12 </label></a>
                                                        <input class="form-control" type="text" id="J12" value="@(j12?.Date.ToString("dd/MM HH:ss"))">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card-group align-items-center">
                                                <div class="col-2">
                                                    <span class="info-box-icon bg-red" @serviceHistoryModel.PositionSelect(VehiclePosition.J9Local)><i class="fa fa-ambulance"></i></span>
                                                </div>
                                                <div class="col-2">
                                                    <span class="info-box-icon bg-red" @serviceHistoryModel.PositionSelect(VehiclePosition.J10Local)><i class="fa fa-ambulance"></i></span>
                                                </div>
                                                <div class="col-2">
                                                    <span class="info-box-icon bg-red" @serviceHistoryModel.PositionSelect(VehiclePosition.J9Hospital)><i class="fa fa-ambulance"></i></span>
                                                </div>
                                                <div class="col-2">
                                                    <span class="info-box-icon bg-red" @serviceHistoryModel.PositionSelect(VehiclePosition.J10Hospital) ><i class="fa fa-ambulance"></i></span>
                                                </div>
                                                <div class="col-2">
                                                    <span class="info-box-icon bg-red" @serviceHistoryModel.PositionSelect(VehiclePosition.J11)><i class="fa fa-ambulance"></i></span>
                                                </div>
                                                <div class="col-2">
                                                    <span class="info-box-icon bg-red" @serviceHistoryModel.PositionSelect(VehiclePosition.J12)><i class="fa fa-ambulance"></i></span>
                                                </div>

                                            </div>
                                            <hr />

                                            @*<div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group has-feedback">
                                                        <label class="control-label">Intercorrências</label>
                                                        <textarea class="form-control" id="Evaluation-1" rows="2"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <button type="submit" class="btn btn-sm bg-purpleTest"><i class="fa fa-save"></i> Gravar</button>
                                                </div>
                                            </div>
                                            <hr />*@

                                            <div class="">
                                                <a id="btnRegister" href="@Url.Action("Index","VehicleManagement")" class="btn btn-block bg-purpleTest">Concluído</a>
                                            </div>

                                            <hr />
                                            <span class="pull-right">
                                                <button id="btnCancelar1" class="btn btn-nor bg-light">Cancelar Viatura</button>
                                            </span>
                                            <br />
                                        </div><!--ACaba card body da pagina-->

                                    </div>
                                </div>
                            </div>
                        }


                        <!--TAB CONTROLE DE VEICULOS-->
                        <div class="tab-pane active" id="main" role="tabpanel" aria-expanded="true">

                            <div class="row m-t-3-1">
                                <div class="col-lg-12">

                                    <div class="card-body">


                                        <!--MODELO OCORRENCIA EM ANDAMENTO-->
                                        @foreach (var emergency in emergencies.Where(d => d.EmergencyStatus == EmergencyManagementSystem.Service.Enums.EmergencyStatus.Committed))
                                        {
                                            @foreach (var commited in emergency.ServiceHistoryModels.Where(d => d.ServiceHistoryStatus == EmergencyManagementSystem.Service.Enums.ServiceHistoryStatus.InProgress))
                                            {
                                                var J9L = commited.VehiclePositionHistoryModels.FirstOrDefault(d => d.VehiclePosition == EmergencyManagementSystem.Service.Enums.VehiclePosition.J9Local);
                                                var J10L = commited.VehiclePositionHistoryModels.FirstOrDefault(d => d.VehiclePosition == EmergencyManagementSystem.Service.Enums.VehiclePosition.J10Local);
                                                var J9H = commited.VehiclePositionHistoryModels.FirstOrDefault(d => d.VehiclePosition == EmergencyManagementSystem.Service.Enums.VehiclePosition.J9Hospital);
                                                var J10H = commited.VehiclePositionHistoryModels.FirstOrDefault(d => d.VehiclePosition == EmergencyManagementSystem.Service.Enums.VehiclePosition.J10Hospital);
                                                var J11 = commited.VehiclePositionHistoryModels.FirstOrDefault(d => d.VehiclePosition == EmergencyManagementSystem.Service.Enums.VehiclePosition.J11);
                                                var J12 = commited.VehiclePositionHistoryModels.FirstOrDefault(d => d.VehiclePosition == EmergencyManagementSystem.Service.Enums.VehiclePosition.J12);

                                                <a href="@Url.Action("EmergencyData", "VehicleManagement", commited)">

                                                    <div class="col-lg-12">
                                                        <div class="small-box @commited.GetClassByStatus()">
                                                            <div class="inner">
                                                                <!--COMO PERCORRER VEICULOS DIFERENTES PARA MESMA OCORRENCIA?-->

                                                                <div class="text-left">
                                                                    <h5>OC: @emergency.Id - @emergency.Name -  (@commited.VehicleModel.Codename)</h5>
                                                                </div>

                                                                <div class="card-group align-items-center">
                                                                    <div class="col-2">
                                                                        <div class="form-group has-feedback">
                                                                            <label class="control-label"> J9 </label>
                                                                            <input class="form-control" type="text" id="J9L" value="@(J9L?.Date.ToString("dd/MM HH:ss"))">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-2">

                                                                        <div class="form-group has-feedback">
                                                                            <label class="control-label"> J10 </label>
                                                                            <input class="form-control" type="text" id="J10L" value="@(J10L?.Date.ToString("dd/MM HH:ss"))">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-2">

                                                                        <div class="form-group has-feedback">
                                                                            <label class="control-label"> J9 </label>
                                                                            <input class="form-control" type="text" id="J9H" value="@(J9H?.Date.ToString("dd/MM HH:ss"))">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-2">
                                                                        <div class="form-group has-feedback">
                                                                            <label class="control-label"> J10 </label>
                                                                            <input class="form-control" type="text" id="J10H" value="@(J10H?.Date.ToString("dd/MM HH:ss"))">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-2">
                                                                        <div class="form-group has-feedback">
                                                                            <label class="control-label"> J11 </label>
                                                                            <input class="form-control" type="text" id="J11F" value="@(J11?.Date.ToString("dd/MM HH:ss"))">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-2">
                                                                        <div class="form-group has-feedback">
                                                                            <label class="control-label"> J12 </label>
                                                                            <input class="form-control" type="text" id="J12F" value="@(J12?.Date.ToString("dd/MM HH:ss"))">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>

                                            }
                                        }

                                    </div><!--ACaba card body da pagina-->
                                </div>
                            </div>
                        </div>

                    </div> @*Final TabContent*@
                </div>
            </div>
        </div>
    </div>
    <!-- Main row -->
</div>


<style>
</style>

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClYGY0602EMNEOdHTFm0UWoisuKoF73u4&region=BR&language=pt&callback=initAutocomplete&libraries=places&v=weekly"></script>
<link href="~/css/maps.css" rel="stylesheet" />
<script src="~/js/maps.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>


<script>

    function RefreshEmergencies() {
        $.ajax({
            url: '/VehicleManagement/Emergencies',
            type: "GET",
            success: function (partialViewResult) {
                debugger;
                $("#refTable").empty();
                $("#refTable").append(partialViewResult);
            }
        })
    }

    window.setInterval(RefreshEmergencies, 5000);

</script>

<script>
    function now() {
        var now = Date.now();
        now.format("dd/MM hh:mm");
        return now;
    }
</script>

<script>
     @{
        var dataClick = serviceHistoryModel != null ? 2 : 0;
    }

    if (@dataClick > 0) {
        SelectTabData('tabData');
    }

    function SelectTabData(id) {
        window.setTimeout(SelectData(id), 300);
    }

    function SelectData(id) {
        debugger;
        $('#' + id).click();
    }

</script>

<script>
    //Cuidado ao mexer

    @{
        var shouldClick = @vehiclesAvaiable != null ? 1 : 0;
    }

    if (@shouldClick > 0) {
        SelectTabTimer('tabVehicle');
    }

        function SelectTabTimer(id) {
        window.setTimeout(SelectTab(id), 300);
    }

    function SelectTab(id) {
        debugger;
        $('#' + id).click();
    }


    $(function () {
        $('#example1').DataTable()
        $('#example2').DataTable({
            'paging': false,
            'lengthChange': false,
            'searching': false,
            'ordering': false,
            'info': false,
            'autoWidth': false,
            'scrollY': "200px",
            'scrollCollapse': true,
            'responsive': true
        })
    });

    function appendCancel() {
        $('#btnCancel').attr('disabled', true);
        $('#btnRegister').attr('disabled', true);
        $("#cancel").removeClass();
        $("#cancel").append('<input hidden name="Cancel" value="true" />')
    }

    function searchMaps() {
        window.setTimeout(searchMapsTimer, 1000);
    }

    function searchMapsTimer() {
        var input = document.getElementById('pac-input');

        google.maps.event.trigger(input, 'focus', {});
        google.maps.event.trigger(input, 'keydown', { keyCode: 13 });
        google.maps.event.trigger(this, 'focus', {});
    }

</script>


