@using EmergencyManagementSystem.Service.Models
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model X.PagedList.IPagedList<EmployeeModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-header sty-one">
    <h1 class="text-white">Funcionários</h1>
</div>
<form>

    <div class="content">
        <div class="row">
                <div class="info-box">
                    <div class="box-body">
                        <div class="right-page-header">
                            <div class="d-flex">
                                <div class="align-self-center">
                                    <h4 class="text-white m-b-1">Funcionários Cadastrados</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group-sm">
                                    <input id="demo-input-search2" name="employeeFilter.Name" placeholder="Nome" class="form-control" type="text" value="@ViewBag.Name">
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group-sm">
                                    <input id="demo-input-search2" name="employeeFilter.CPF" placeholder="CPF" class="form-control" type="text" value="@ViewBag.CPF">
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="form-group-sm">
                                    <input type="submit" class="btn btn-secondary btn-nor" value="Pesquisar" />
                                </div>
                            </div>

                        </div>



                        <div class="table-responsive">
                            <table id="example2" class="table table-bordered table-hover no-wrap" data-name="cool-table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nome</th>
                                        <th>Telefone</th>
                                        <th>Email</th>
                                        <th>Coorporação</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.Name</td>
                                            <td>@item.Telephone</td>
                                            <td>@item.Email</td>
                                            <td>@item.Company.GetEnumDescription()</td>
                                            <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center" style="width: 50px;">
                                                <span class="pull-right">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <button class="btn btn-outline-danger btn-sm" type="button" title="Deletar"><i class="fa fa-trash-o"></i></button>
                                                            <a class="btn btn-outline-warning btn-sm" title="Editar" href="@Url.Action("Update", "Employee", new { id = item.Id })"><i class="fa fa-pencil"></i></a>
                                                            <a class="btn btn-outline-primary btn-sm" title="Detalhes" href="@Url.Action("Detail","Employee")"><i class="fa fa-list"></i></a>
                                                        </div>
                                                    </div>
                                                </span>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            @Html.PagedListPager(Model, page =>
                                    Url.Action("Index", new { CurrentPage = page, Name = ViewBag.Name, CPF = ViewBag.CPF }),
                                    new PagedListRenderOptionsBase
                                    {
                                        LiElementClasses = new string[] { "paginate_button" },
                                        PageClasses = new string[] { "page-link" }
                                    })
                        </div>
                        <a type="button" class="btn btn-nor bg-purpleTest"  @*data-toggle="tooltip" data-placement="top"*@ href="@Url.Action("Register","Employee")">
                            Novo Funcionário
                            <i class="ti-pencil-alt" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
        </div>
    </div>
</form>

<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables/dataTables.bootstrap.min.js"></script>

<script>
    $(function () {
        $('#example1').DataTable()
        $('#example2').DataTable({
            'paging': false,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': false,
            'autoWidth': false
        })
    })
</script>