@model EmergencyManagementSystem.Service.Models.EmployeeModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header sty-one">
    <h1 class="text-white">Cadastro de Funcionário</h1>
</div>

<div class="content">
    <form>
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-outline">
                    <div class="card-header blue-bg">
                        <h5 class="text-white m-b-0">Dados do profissional</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group has-feedback">
                                    <label class="control-label">Nome</label>
                                    <input class="form-control" placeholder="Nome Completo" type="text" value="@Model.Name" name="Name">
                                    <span class="fa fa-user form-control-feedback" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-feedback">
                                    <label class="control-label">Data de Nascimento</label>
                                    <input class="form-control" placeholder="dd/mm/yyyy" type="date" value="@Model.BirthDate" name="BirthDate">
                                    <span class="fa fa-envelope-o form-control-feedback" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-feedback">
                                    <label class="control-label">CPF</label>
                                    <input class="form-control" placeholder="000.000.000-00" type="text" value="@Model.CPF" name="CPF">
                                    <span class="fa fa-user form-control-feedback" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-feedback">
                                    <label class="control-label">RG</label>
                                    <input class="form-control" placeholder="RG" type="text" value="@Model.RG" name="RG">
                                    <span class="fa fa-user form-control-feedback" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-feedback">
                                    <label class="control-label">E-mail</label>
                                    <input class="form-control" placeholder="exemplo@email.com" type="text" value="@Model.Email" name="Email">
                                    <span class="fa fa-envelope-o form-control-feedback" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-feedback">
                                    <label class="control-label">Telefone</label>
                                    <input class="form-control" placeholder="Telefone" type="text" value="@Model.Telephone" name="Telephone">
                                    <span class="fa fa-phone form-control-feedback" aria-hidden="true"></span>
                                </div>
                            </div>
                            @*A profissão vai ter que ser preenchida por uma busca no banco de dados e mostrar como um combobox*@
                            <div class="col-md-6">
                                <div class="form-group has-feedback">
                                    <label class="control-label">Profissão</label>
                                    <input class="form-control" placeholder="Profissão" type="text" @*value="@Model.OccupationModel.Profession" name="Profession"*@>
                                    <span class="fa fa-briefcase form-control-feedback" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-feedback">
                                    <label class="control-label">Registro Profissional</label>
                                    <input class="form-control" placeholder="Número do registro" type="text" value="@Model.ProfessionalRegistration" name="ProfessionalRegistration" *@>
                                    <span class="fa fa-briefcase form-control-feedback" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="location1">Coorporação</label>
                                    <select class="custom-select form-control" id="location1" name="location">
                                        <option value="">Selecione</option>
                                        <option value="">SAMU</option>
                                        <option value="">Bombeiro</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-t-3">
            <div class="col-lg-12">
                <div class="card ">
                    <div class="card-header blue-bg">
                        <h5 class="text-white m-b-0">Dados de Endereço</h5>
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group has-feedback">
                                    <label class="control-label">CEP</label>
                                    <input class="form-control" placeholder="00.000-000" type="text" @*value="@Model.AddressModel.CEP" name="CEP"*@>
                                    <span class="fa fa-user form-control-feedback" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-feedback">
                                    <label class="control-label">Cidade</label>
                                    <input class="form-control" placeholder="Cidade" type="text" @*value="@Model.AddressModel.CEP" name="CEP"*@>
                                    <span class="fa fa-user form-control-feedback" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-feedback">
                                    <label class="control-label">Bairro</label>
                                    <input class="form-control" placeholder="Bairro" type="text" @*value="@Model.AddressModel.CEP" name="CEP"*@>
                                    <span class="fa fa-user form-control-feedback" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-feedback">
                                    <label class="control-label">Rua</label>
                                    <input class="form-control" placeholder="Rua" type="text" @*value="@Model.AddressModel.CEP" name="CEP"*@>
                                    <span class="fa fa-user form-control-feedback" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-feedback">
                                    <label class="control-label">Número</label>
                                    <input class="form-control" placeholder="Número" type="text" @*value="@Model.AddressModel.CEP" name="CEP"*@>
                                    <span class="fa fa-user form-control-feedback" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-feedback">
                                    <label class="control-label">Complemento</label>
                                    <input class="form-control" placeholder="Complemento" type="text" @*value="@Model.AddressModel.CEP" name="CEP"*@>
                                    <span class="fa fa-user form-control-feedback" aria-hidden="true"></span>
                                </div>
                            </div>

                            @*<div class="col-md-12">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>*@
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <br />
        <div class="col-md-12">
            <button type="submit" class="btn btn-lg bg-purpleTest">Cadastrar</button>
        </div>
    </form>
</div>



