@model EmergencyManagementSystem.Service.Models.EmployeeModel

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header sty-one">
    <h1 class="text-white">Atualização de Cadastro</h1>
</div>

<div class="content">
    <div class="info-box">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <form>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 col-xs-12">
                                    <h4 class="card-title">Dados do Profissional</h4>
                                    <div id="treeview1" class=""></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label class="control-label">Nome</label>
                                        <input class="form-control" placeholder="Nome Completo" type="text" value="@Model.Name" name="Name">
                                        <span class="fa fa-user form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label class="control-label">Data de Nascimento</label>
                                        <input class="form-control" id="readonlyInput" readonly value="@Model.BirthDate" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label class="control-label">CPF</label>
                                        <input class="form-control" id="readonlyInput" readonly value="@Model.CPF" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label class="control-label">RG</label>
                                        <input class="form-control" id="readonlyInput" readonly value="@Model.RG" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label class="control-label">E-mail</label>
                                        <input class="form-control" placeholder="exemplo@email.com" type="text" value="@Model.Email" name="Email">
                                        <span class="fa fa-envelope-o form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label class="control-label">Telefone</label>
                                        <input class="form-control" placeholder="Telefone" type="text" value="@Model.Telephone" name="Telephone">
                                        <span class="fa fa-phone form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                </div>
                                @*A profissão vai ter que ser preenchida por uma busca no banco de dados e mostrar como um combobox*@
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label class="control-label">Profissão</label>
                                        <input class="form-control" placeholder="Profissão" type="text" @*value="@Model.OccupationModel.Profession" name="Profession"*@>
                                        <span class="fa fa-briefcase form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label class="control-label">Registro Profissional</label>
                                        <input class="form-control" placeholder="Número do registro" type="text" value="@Model.ProfessionalRegistration" name="ProfessionalRegistration">
                                        <span class="fa fa-briefcase form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="location1">Coorporação</label>
                                        <select class="custom-select form-control" id="location1" name="location">
                                            <option value="">Selecione</option>
                                            <option value="">SAMU</option>
                                            <option value="">Bombeiro</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 col-xs-12">
                                    <h4 class="card-title">Dados do Endereço</h4>
                                    <div id="treeview1" class=""></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label class="control-label">CEP</label>
                                        <input class="form-control" placeholder="00.000-000" type="text" value="@Model.AddressModel.CEP" name="CEP">
                                        <span class="fa fa-user form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label class="control-label">Cidade</label>
                                        <input class="form-control" placeholder="Cidade" type="text" value="@Model.AddressModel.City" name="City">
                                        <span class="fa fa-user form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label class="control-label">Bairro</label>
                                        <input class="form-control" placeholder="Bairro" type="text" value="@Model.AddressModel.District" name="District">
                                        <span class="fa fa-user form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label class="control-label">Rua</label>
                                        <input class="form-control" placeholder="Rua" type="text" value="@Model.AddressModel.Street" name="Street">
                                        <span class="fa fa-user form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label class="control-label">Número</label>
                                        <input class="form-control" placeholder="Número" type="text" value="@Model.AddressModel.Number" name="Number">
                                        <span class="fa fa-user form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label class="control-label">Complemento</label>
                                        <input class="form-control" placeholder="Complemento" type="text" value="@Model.AddressModel.Complement" name="Complement">
                                        <span class="fa fa-user form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <button type="submit" class="btn btn-lg bg-purpleTest">Salvar Alterações</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

