@using EmergencyManagementSystem.Web
@inject UserService _userService
@{
    var currentUser = @_userService.GetCurrentUser();
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Niche Admin - Powerful Bootstrap 4 Dashboard and Admin Template</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />

    <!-- v4.0.0-alpha.6 -->
    @*<link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">*@
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/plugins/datatables/css/dataTables.bootstrap.min.css" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/et-line-font/et-line-font.css">
    <link rel="stylesheet" href="~/css/themify-icons/themify-icons.css">



    <link href="~/css/Custom.css" rel="stylesheet" />

    <!-- Java Script -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/mask.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/niche.js"></script>
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>

</head>
<body class="skin-blue sidebar-mini sidebar-collapse">
    <div class="wrapper boxed-wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="index.html" class="logo blue-bg">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><img src="~/img/Caduceus.png" alt=""></span>
                <!-- logo for regular state and mobile devices -->
                @*<span class="logo-lg"><img src="~/img/EMS_United_Salvation.png" alt=""></span>*@
            </a>
            <!-- Header Navbar: style can be found in header.less --> @*TESTE COR*@
            <nav class="navbar blue-bg navbar-static-top">
                <!-- Sidebar toggle button-->
                <ul class="nav navbar-nav pull-left">
                    <li><a class="sidebar-toggle" data-toggle="push-menu" href=""></a> </li>
                </ul>
                <!--</div>-->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 4 new messages</li>
                                <li>
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <div class="pull-left"><img src="~/img/img1.jpg" class="img-circle" alt="User Image"> <span class="profile-status online pull-right"></span></div>
                                                <h4>Alex C. Patton</h4>
                                                <p>I've finished it! See you so...</p>
                                                <p><span class="time">9:30 AM</span></p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left"><img src="~/img/img3.jpg" class="img-circle" alt="User Image"> <span class="profile-status offline pull-right"></span></div>
                                                <h4>Nikolaj S. Henriksen</h4>
                                                <p>I've finished it! See you so...</p>
                                                <p><span class="time">10:15 AM</span></p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left"><img src="~/img/img2.jpg" class="img-circle" alt="User Image"> <span class="profile-status away pull-right"></span></div>
                                                <h4>Kasper S. Jessen</h4>
                                                <p>I've finished it! See you so...</p>
                                                <p><span class="time">8:45 AM</span></p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left"><img src="~/img/img4.jpg" class="img-circle" alt="User Image"> <span class="profile-status busy pull-right"></span></div>
                                                <h4>Florence S. Kasper</h4>
                                                <p>I've finished it! See you so...</p>
                                                <p><span class="time">12:15 AM</span></p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View All Messages</a></li>
                            </ul>
                        </li>

                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu p-ph-res">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="hidden-xs">@currentUser.EmployeeName</span> </a>
                            <ul class="dropdown-menu">
                                <li role="separator" class="divider"></li>
                                <li><a href="@Url.Action("Update", "User")"><i class="icon-gears"></i> Alterar Senha</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="@Url.Action("Logout", "Login")"><i class="fa fa-power-off"></i> Sair</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <div class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">

                    <a href="@Url.Action("","Emergency")">

                        @*<div class="image text-center"><img src="~/img/LogoMenu.png" class="img-circle" alt="User Image"> </div>*@
                        <center>
                            <span class="logo-lg"><img src="~/img/LogoMenu.png" alt=""></span>
                        </center>
                    </a>

                </div>

                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">MENU</li>
                    <li class="treeview">
                        <a href="#"> <i class="fa fa-medkit"></i> <span>Ocorrência</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("","Emergency")">Registro e Avaliação</a></li>
                            <li><a href="@Url.Action("","Emergency")">Atendimento Veículos</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#"> <i class="fa fa-ambulance"></i> <span>Controle da Frota</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Status","Vehicle")">Status Veículo</a></li>
                            <li><a href="@Url.Action("","Member")">Equipe</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#"> <i class="fa fa-user-md"></i> <span>Cadastro</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("","Employee")">Funcionário</a></li>
                            <li><a href="@Url.Action("","Vehicle")">Veículo</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            @RenderBody()
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">Version 1.2</div>
            Copyright © 2020 Yourdomian. All rights reserved.
        </footer>
    </div>
</body>
</html>

<div id="loader"></div>

<script>
    var spinner = $('#loader');
    $('form').submit(function () {
        spinner.show();
    });
</script>

<style type="text/css">
    #sidebar-wrapper {
        overflow: auto;
    }

    #loader {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background: rgba(0,0,0,0.75) url('/css/loading2.gif') no-repeat center center;
        z-index: 10000;
    }
</style>