@using EmergencyManagementSystem.Service.Models
@model EmergencyModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <div class="row">
        <div class="col-lg-4">
            <div class="info-box">
                <div class="box-body">
                    <strong><i class="fa fa-book margin-r-5"></i> Ocorrência 1</strong>
                    <p class="text-muted"> Batida de ônibus </p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="info-box">
                <div class="card tab-style1">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs profile-tab" role="tablist">
                        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab" aria-expanded="true">Ocorrência</a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-expanded="false">Avaliação</a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Atendimento</a> </li>

                        @*<li class="nav-item"><span class="pull-right">Data Hora</span> </li>*@
                        @*<label class="pull-right">Nº Ocorrência</label>*@

                    </ul>

                    <!-- First tab -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="home" role="tabpanel" aria-expanded="true">
                            <div class="row m-t-3-1">
                                <div class="col-lg-12">
                                    <div class="card-body">
                                        <form>
                                            <h4 class="text-white">OC: 532154@(Model?.Id)<span class="pull-right"><b>10/02/2021  15:12</b></span> </h4>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group has-feedback">
                                                        <label class="control-label">Telefone</label>
                                                        <input class="form-control" placeholder="Telefone" id="telefone" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group has-feedback">
                                                        <label class="control-label">Solicitante</label>
                                                        <input class="form-control" placeholder="Nome" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleinputemail1">Nome da Ocorrência</label>
                                                <input type="text" class="form-control" id="exampleinputemail1" placeholder="Motivo / Queixa">
                                            </div>

                                            <div id="patientList">


                                                <div id="patient">
                                                    <hr />

                                                    <div class="form-group">
                                                        <label for="exampleinputemail1">Paciente</label>
                                                        <input type="text" class="form-control" id="exampleinputemail1" placeholder="Nome">
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="location1">Sexo</label>
                                                                <select class="custom-select form-control" id="location1" name="location">
                                                                    <option value="">Selecione</option>
                                                                    <option value="">Indeterminado</option>
                                                                    <option value="">Feminino</option>
                                                                    <option value="">Masculino</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group has-feedback">
                                                                <label class="control-label">Idade</label>
                                                                <input class="form-control" placeholder="00" type="number">
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-5">
                                                    <button type="button" class="btn btn-sm bg-purpleTest" onclick="AdicionarPaciente()"><i class="fa fa-plus-circle"></i> Paciente</button>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group has-feedback">
                                                        <label class="control-label">CEP</label>
                                                        <input class="form-control" placeholder="00.000-000" type="text" @*value="@Model.AddressModel.CEP" name="CEP"*@>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group has-feedback">
                                                        <label class="control-label">Cidade</label>
                                                        <input class="form-control" placeholder="Cidade" type="text" @*value="@Model.AddressModel.CEP" name="CEP"*@>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group has-feedback">
                                                        <label class="control-label">Bairro</label>
                                                        <input class="form-control" placeholder="Bairro" type="text" @*value="@Model.AddressModel.CEP" name="CEP"*@>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group has-feedback">
                                                        <label class="control-label">Rua</label>
                                                        <input class="form-control" placeholder="Rua" type="text" @*value="@Model.AddressModel.CEP" name="CEP"*@>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group has-feedback">
                                                        <label class="control-label">Número</label>
                                                        <input class="form-control" placeholder="Número" type="text" @*value="@Model.AddressModel.CEP" name="CEP"*@>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group has-feedback">
                                                        <label class="control-label">Complemento</label>
                                                        <input class="form-control" placeholder="Complemento" type="text" @*value="@Model.AddressModel.CEP" name="CEP"*@>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleinputemail1">Ponto de Referência</label>
                                                <input type="text" class="form-control" id="exampleinputemail1" placeholder="Próximo...">
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button type="submit" id="btnRegister" class="btn btn-lg bg-purpleTest">Registrar</button>
                                                    <button type="button" id="btnCancel" onclick="appendCancel()" class="btn btn-lg bg-light">Cancelar</button>

                                                </div>
                                            </div>

                                            @*Adicionar o Google Mpas Aqui*@

                                            <div id="cancel" class="hide">
                                                <hr />
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group has-feedback">
                                                            <label class="control-label">Comentário</label>
                                                            <textarea class="form-control" id="placeTextarea" rows="1" placeholder="Observação"></textarea>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <button type="submit" class="btn btn-sm bg-purpleTest">Registrar Cancelamento</button>
                                                    </div>

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--second tab-->
                        <div class="tab-pane" id="profile" role="tabpanel" aria-expanded="false">
                            @*Começar com numero ocorrencia/ telefone / funcionário que gerou ocorrencia*@
                            @*Segunda linha Solicitante / data hora gerada a ocorrencia. Terceira Nome da ocorrência*@

                            <div class="row m-t-3-1">
                                <div class="col-lg-12">
                                    <div class="card-body">
                                        <h4 class="text-white">OC: 532154@(Model?.Id)<span class="pull-right"><b>10/02/2021  15:12</b></span> </h4>
                                        @*<h4 class="text-white"> ACIDENTE DE CARRO <span class="pull-right"><b> 10/02/2021 15:32 - </b>OC: 5669626@(Model?.Id)</span> </h4>*@

                                        <div class="row">
                                            <div class="col-lg-4">
                                                <fieldset class="form-group">
                                                    <p class="form-control-static m-bot-1" id="staticInput">Solicitante: Tiago</p>
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-4">
                                                <fieldset class="form-group">
                                                    <p class="form-control-static m-bot-1" id="staticInput">(47)99999-9999</p>
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-4">
                                                <fieldset class="form-group">
                                                    <p class="form-control-static m-bot-1" id="staticInput">TARM: Nome Funcionário</p>
                                                </fieldset>
                                            </div>
                                        </div>
                                        @*Colocar o Google aqui, talvez*@

                                        <hr />
                                        <strong><i class="fa fa-map-marker margin-r-5"></i> Address</strong>
                                        <div class="embed-container maps">
                                            <iframe class="full-wid" src="https://maps.google.co.in/maps?sll=34.0204989,-118.4117325&amp;sspn=0.8745562,1.4073488&amp;cid=16298491244936825076&amp;q=Los+Angeles,+CA,+USA&amp;ie=UTF8&amp;hq=&amp;hnear=Los+Angeles,+Los+Angeles+County,+California,+United+States&amp;t=m&amp;ll=34.052234,-118.243685&amp;spn=0.697085,0.848982&amp;output=embed" style="pointer-events: none;"></iframe>
                                        </div>


                                        @*TESTE*@
                                        <div class="card tab-style1">
                                            <!-- Nav tabs -->
                                            <ul class="nav nav-tabs profile-tab" role="tablist">
                                                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#patient-1" role="tab" aria-expanded="true">Paciente1</a> </li>
                                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#patient-2" role="tab" aria-expanded="false">Paciente2</a> </li>
                                            </ul>

                                            <!-- First tab -->
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="patient-1" role="tabpanel" aria-expanded="true">
                                                    <div class="row m-t-3-1">
                                                        <div class="col-lg-12">
                                                            <div class="card-body">
                                                                <form>

                                                                    <div id="patientList">
                                                                        <div id="patient">
                                                                            <div class="form-group">
                                                                                <label for="exampleinputemail1">Paciente</label>
                                                                                <input type="text" class="form-control" id="exampleinputemail1" placeholder="Nome">
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-6">
                                                                                    <div class="form-group">
                                                                                        <label for="location1">Sexo</label>
                                                                                        <select class="custom-select form-control" id="location1" name="location">
                                                                                            <option value="">Selecione</option>
                                                                                            <option value="">Indeterminado</option>
                                                                                            <option value="">Feminino</option>
                                                                                            <option value="">Masculino</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    <div class="form-group has-feedback">
                                                                                        <label class="control-label">Idade</label>
                                                                                        <input class="form-control" placeholder="00" type="number">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-md-5">
                                                                            <button type="button" class="btn btn-sm bg-purpleTest" onclick="AdicionarPaciente()"><i class="fa fa-plus-circle"></i> Paciente</button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <!--second tab-->
                                                <div class="tab-pane" id="patient-2" role="tabpanel" aria-expanded="false">

                                                    <div class="row m-t-3-1">
                                                        <div class="col-lg-12">
                                                            <div class="card-body">
                                                                <form>
                                                                    <div id="patientList">

                                                                        <div id="patient">
                                                                            <div class="form-group">
                                                                                <label for="exampleinputemail1">Paciente</label>
                                                                                <input type="text" class="form-control" id="exampleinputemail1" placeholder="Nome">
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-6">
                                                                                    <div class="form-group">
                                                                                        <label for="location1">Sexo</label>
                                                                                        <select class="custom-select form-control" id="location1" name="location">
                                                                                            <option value="">Selecione</option>
                                                                                            <option value="">Indeterminado</option>
                                                                                            <option value="">Feminino</option>
                                                                                            <option value="">Masculino</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    <div class="form-group has-feedback">
                                                                                        <label class="control-label">Idade</label>
                                                                                        <input class="form-control" placeholder="00" type="number">
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-md-5">
                                                                            <button type="button" class="btn btn-sm bg-purpleTest" onclick="AdicionarPaciente()"><i class="fa fa-plus-circle"></i> Paciente</button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div> @*Final TabContent*@
                                        </div>
                                        @*TESTE FINAl*@
                                        <div class="row">
                                            <div class="mx-auto">
                                                <div class="col-1">
                                                    <div class="form-group has-feedback">
                                                        <label class="control-label text-right">PA</label>
                                                        <input class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-1">
                                                    <div class="form-group has-feedback">
                                                        <label class="control-label">FC</label>
                                                        <input class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-1">
                                                    <div class="form-group has-feedback">
                                                        <label class="control-label text-right">FR</label>
                                                        <input class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-1">
                                                    <div class="form-group has-feedback">
                                                        <label class="control-label">Temp</label>
                                                        <input class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-1">
                                                    <div class="form-group has-feedback">
                                                        <label class="control-label">SatO2</label>
                                                        <input class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-1">
                                                    <div class="form-group has-feedback">
                                                        <label class="control-label">HGT</label>
                                                        <input class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-1">
                                                    <div class="form-group has-feedback">
                                                        <label class="control-label">Glasgow</label>
                                                        <input class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div>
                                                    <button type="submit" class="btn btn-nor bg-purpleTest"><i class="fa fa-plus-circle"></i></button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-lg bg-purpleTest">Registrar</button>
                                            <button type="button" class="btn btn-lg bg-light">Cancelar</button>

                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group has-feedback">
                                                <label class="control-label">Comentário</label>
                                                <textarea class="form-control" id="placeTextarea" rows="1" placeholder="Observação"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <!--third tab-->
                        <div class="tab-pane" id="settings" role="tabpanel">
                            <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <label class="col-lg-12">Full Name</label>
                                        <div class="col-lg-12">
                                            <input placeholder="Florence Douglas" class="form-control form-control-line" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-email" class="col-md-12">Email</label>
                                        <div class="col-lg-12">
                                            <input placeholder="florencedouglas@admin.com" class="form-control form-control-line" name="example-email" id="example-email" type="email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Password</label>
                                        <div class="col-md-12">
                                            <input value="password" class="form-control form-control-line" type="password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Phone No</label>
                                        <div class="col-md-12">
                                            <input placeholder="123 456 7890" class="form-control form-control-line" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Message</label>
                                        <div class="col-md-12">
                                            <textarea rows="5" class="form-control form-control-line"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12">Select Country</label>
                                        <div class="col-sm-12">
                                            <select class="form-control form-control-line">
                                                <option>London</option>
                                                <option>India</option>
                                                <option>Usa</option>
                                                <option>Canada</option>
                                                <option>Thailand</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button class="btn btn-success">Update Profile</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> @*Final TabContent*@
                </div>
            </div>
        </div>
    </div>
    <!-- Main row -->
</div>


