@model EmergencyManagementSystem.Service.Models.VehicleModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()
<div class="content-header sty-one">
    <h1 class="text-white">Atualização de Veículo</h1>
</div>
@using (Html.BeginForm())
{
    <div class="content">
        <div class="info-box">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="row">
                                <div class="col-md-4 col-xs-12">
                                    <h4 class="card-title">Dados do Veículo</h4>
                                    <div id="treeview1" class=""></div>
                                </div>
                            </div>
                            <input type="hidden" asp-for="Vehicle.Id" />
                            <div class="form-group">
                                <label asp-for="VehicleName">Nome/Modelo: </label>
                                @Html.DisplayFor(model => model.VehicleName)
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Placa: </label>
                                @Html.DisplayFor(model => model.VehiclePlate)

                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Ano: </label>
                                @Html.DisplayFor(model => model.Year)
                            </div>
                            <div class="form-group">
                                <label for="location1">Tipo do Veículo: </label>
                                @Html.DisplayFor(model => model.VehicleType)
                            </div>
                            <div class="form-group">
                                <label for="location1">Situação do veículo: </label>
                                @Html.DisplayFor(model => model.VehicleStatus)
                            </div>
                            <div class="col-md-3">
                                <a href="@Url.Action("Update", "Vehicle", new { id = Model.Id })" class="btn btn-default">Alterar</a>
                                <a href="@Url.Action("Index","Vehicle")">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
