@model EmergencyManagementSystem.Service.Models.MemberRegisterModel
@using EmergencyManagementSystem.Service.Models
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using EmergencyManagementSystem.Service.Enums;

@{
    ViewData["Title"] = "Teste";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentVehicleId = ViewBag.VehicleId;
    var occupationSelected = (Occupation)ViewBag.OcccupationSelected;
}

@Html.AntiForgeryToken()
<div class="content-header sty-one">
    <h1 class="text-white">Composição de Equipe </h1>
</div>

<div class="content">
    <div class="row">

        <div class="col-lg-6 m-b-3">
            <div class="info-box">
                <form action="@Url.Action("Index", "Member")">
                    <h4 class="text-white">Profissionais Disponíveis</h4>
                    <div class="col-lg-12 form-group-sm row ">
                        <select name="occupation" class="form-control input-sm col-md-9" value="@ViewBag.Occupation" id="employeeFilter">
                            @foreach (Occupation suit in Model.GetOccupations())
                            {
                                <option value="@suit" @Model.GetOcccupationSelected(occupationSelected, suit)>@suit.GetEnumDescription()</option>
                            }
                        </select>
                        <input name="VehicleId" value="@currentVehicleId" hidden />

                        <input type="submit" class="btn btn-secondary btn-nor" value="Pesquisar" id="employeeFilter" />
                    </div>
                </form>
                <form method="post" action="@Url.Action("Register","Member")" id="formMember">

                    <input name="VehicleId" value="@currentVehicleId" hidden />
                    <input name="occupation" value="@occupationSelected" hidden />
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="bg-primary text-white">
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Ocupação</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.EmployeeModels)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Name</td>
                                        <td>@item.Occupation.GetEnumDescription()</td>
                                        <td>
                                            <div class="jsgrid">
                                                <button class="jsgrid-button jsgrid-insert-button" type="button" title="Adicionar" onclick="SubmitMember('@item.Guid')"></button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @Html.PagedListPager(Model.EmployeeModels, page =>
                        Url.Action("Index", new { CurrentPage = page, Name = ViewBag.Name, Id = ViewBag.Id, Occupation = occupationSelected, vehicleId = currentVehicleId }),
                        new PagedListRenderOptionsBase
                        {
                            ContainerDivClasses = new[] { "dataTables_paginate paging_simple_numbers" },
                            ActiveLiElementClass = "paginate_button active",
                            PageClasses = new[] { "page-link" },
                            UlElementClasses = new[] { "pagination" },
                            LinkToPreviousPageFormat = "Voltar",
                            LinkToNextPageFormat = "Próximo"
                        })
                    </div>
                    <input type="submit" hidden id="addMember" />
                </form>
            </div>
        </div>



        <div class="col-lg-6 m-b-3">
            <div class="info-box">

                <h4 class="text-white">Veículo</h4>
                <form action="@Url.Action("Index", "Member")">

                    <div class="col-lg-12 form-group-sm row ">
                        <select class="form-control input-sm" name="vehicleId" id="VehicleId" onclick="GetVehicleSelected()">
                            @foreach (var suit in Model.VehicleModels)
                            {
                                <option value="@suit.Id" @suit.GetSelected(currentVehicleId)>@suit.Codename</option>
                            }
                        </select>
                    </div>
                    <input id="submitVehicle" type="submit" hidden />
                    <input name="MemberModel.Occupation" value="@occupationSelected" hidden />
                </form>
                <br />
                <h4 class="text-white">Equipe Atual do Veículo</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="bg-primary text-white">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Funcionário</th>
                                <th scope="col">Ocupação</th>
                                <th scope="col">Veículo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.EmployeeVehicleModels)
                            {
                                <tr>
                                    <td>@item.MemberId</td>
                                    <td>@item.EmployeeModel.Name</td>
                                    <td>@item.EmployeeModel.Occupation.GetEnumDescription()</td>
                                    <td>@item.VehicleModel.Codename</td>

                                    <td>
                                        <div class="jsgrid">
                                            <a class="jsgrid-button jsgrid-delete-button" type="button" title="Remover" href="@Url.Action("Update", "Member", new { id = item.MemberId, vehicleId = currentVehicleId, occupation = occupationSelected })"></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    var currentVehicleId = @currentVehicleId;

    function GetVehicleSelected() {
        var value = $('#VehicleId').find(":selected").val();

        if (currentVehicleId != value) {
            $('#submitVehicle').click();
        }
    }

    function SubmitMember(guidMember) {
        debugger;
        $('#formMember').append('<input name="EmployeeGuid" hidden id="addMember" value="' + guidMember + '"/>');
        $('#addMember').click();

    }

    function DeleteMember(idMember) {
        debugger;
        $('#formMemberRemove').append('<input name="MemberId" hidden id="removeMember" value="' + idMember + '"/>');
        $('#removeMember').click();

    }


</script>

<link type="text/css" rel="stylesheet" href="~/plugins/jsgrid/theme.css" />


