@using EmergencyManagementSystem.Service.Models
@using EmergencyManagementSystem.Service.Enums
@using System.Linq
@model EmergencyModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> Messages = ViewBag?.Error;
    List<EmergencyModel> emergencies = ViewBag.Emergencies;
}


<div class="content">
    @if (Messages != null)
    {
        <div class="m-b-3" id="error-notification">
            <div class="callout callout-info" style="margin-bottom: 0!important;">
                <h4><i class="fa fa-warning"></i> Nota:</h4>
                @foreach (string error in Messages)
                {
                    @error<br />
                }
            </div>
        </div>
    }
    <div class="row">
        <div class="col-lg-4">
            <div id="refTable">
                @Html.Partial("Emergencies", emergencies)
            </div>
        </div>

        <div class="col-lg-8">
            <div class="info-box">
                <div class="card tab-style1">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs profile-tab" role="tablist">
                        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#profile" role="tab" aria-expanded="true">Avaliação</a> </li>

                    </ul>
                    @if (Model.Id > 0)
                    {
                        <!-- First tab -->
                        <div class="tab-content">
                            <!--second tab-->
                            <div class="tab-pane active" id="profile" role="tabpanel" aria-expanded="true">

                                <div class="row m-t-3-1">
                                    <div class="col-lg-12">
                                        <div class="card-body">
                                            <h4 class="text-white">OC: @(Model?.Id) - @Model.Name<span class="pull-right"><b>@Model.Date.ToShortDateString()  @Model.Date.ToShortTimeString()</b></span> </h4>
                                            <h5 class="text-white"><b>Solicitante:</b> @Model.RequesterName<span class="pull-right"><b>Funcionário:</b> @Model.EmployeeName</span> </h5>
                                            <h5 class="text-white"><b>Telefone:</b> @Model.RequesterPhone<span class="pull-right"></span> </h5>
                                            <hr />

                                            <div class="sidebar-menu" data-widget="tree">
                                                <div class="treeview">
                                                    <a href="#" onclick="Pesquisar()"> <i class="fa fa-map-marker"></i> <span>Localização</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                                                    <div class="treeview-menu">

                                                        <label>
                                                            @Model.AddressModel.City/@Model.AddressModel.District - @Model.AddressModel.Street, @Model.AddressModel.Number
                                                            @Model.AddressModel.Complement. Prox: @Model.AddressModel.Reference
                                                        </label>
                                                        <input id="pac-input"
                                                               class="controls"
                                                               type="text"
                                                               placeholder="Procurar" value="@Model.AddressModel.Street - @Model.AddressModel.District, @Model.AddressModel.City" />

                                                        <div id="map">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />

                                            <form method="post" action="@Url.Action("RegisterMedicalEvaluation", "Evaluation")">
                                                <input hidden name="Id" value="@Model.Id" />

                                                <div class="card tab-style1">

                                                    <ul class="nav nav-tabs profile-tab" role="tablist" id="navsPatient">

                                                        @foreach ((var patient, int index) in Model.PatientModels.Select((value, i) => (value, i)))
                                                        {
                                                            var active = index == 0 ? "active" : "";
                                                            var ariaExpanded = index == 0 ? "true" : "false";
                                                            <li class="nav-item" id="navPatient-@index"> <a class="nav-link @active" data-toggle="tab" href="#patient-@index" role="tab" aria-expanded="@ariaExpanded">Paciente</a> </li>
                                                        }
                                                        <li class="nav-item" id="navAddPatients"><a onclick="AddPatientsTab()" class="nav-link" data-toggle="tab" role="tab" aria-expanded="false" href="#"><i class="fa fa-plus-circle"></i></a></li>

                                                    </ul>
                                                    <div class="tab-content" id="tabsPatient">

                                                        @foreach ((var patient, int index) in Model.PatientModels.Select((value, i) => (value, i)))
                                                        {
                                                            var active = index == 0 ? "active" : "";
                                                            var ariaExpanded = index == 0 ? "true" : "false";

                                                            <div class="tab-pane @active" role="tabpanel" aria-expanded="@ariaExpanded" id="patient-@index">
                                                                <div class="row m-t-3-1">
                                                                    <div class="col-lg-12">
                                                                        <div class="card-body">

                                                                            <div class="form-group">
                                                                                <label for="exampleinputemail1">Paciente</label>
                                                                                <input type="text" class="form-control" id="exampleinputemail1" placeholder="Nome" value="@patient.Name" name="PatientModels[@index].Name">
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-6">
                                                                                    <div class="form-group">
                                                                                        <label for="location1">Sexo</label>
                                                                                        <select class="custom-select form-control" id="location1" name="PatientModels[@index].Gender">
                                                                                            <option value="0" @patient.GetGenderSelected(0)>Selecione</option>
                                                                                            <option value="1" @patient.GetGenderSelected(1)>Feminino</option>
                                                                                            <option value="2" @patient.GetGenderSelected(2)>Masculino</option>
                                                                                            <option value="3" @patient.GetGenderSelected(3)>Indeterminado</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    <div class="form-group has-feedback">
                                                                                        <label class="control-label">Idade</label>
                                                                                        <input class="form-control" placeholder="" type="number" value="@patient.Age" name="PatientModels[@index].Age">
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="card-group align-items-center">
                                                                                <div class="col-1-5">
                                                                                    <div class="form-group has-feedback">
                                                                                        <label class="control-label">PA</label>
                                                                                        <input class="form-control" type="text" id="PA-@index">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-1-5">
                                                                                    <div class="form-group has-feedback">
                                                                                        <label class="control-label">FC</label>
                                                                                        <input class="form-control" type="text" id="FC-@index">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-1-5">
                                                                                    <div class="form-group has-feedback">
                                                                                        <label class="control-label">FR</label>
                                                                                        <input class="form-control" type="text" id="FR-@index">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-1-5">
                                                                                    <div class="form-group has-feedback">
                                                                                        <label class="control-label">Temp</label>
                                                                                        <input class="form-control" type="text" id="Temp-@index">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-1-5">
                                                                                    <div class="form-group has-feedback">
                                                                                        <label class="control-label">SatO2</label>
                                                                                        <input class="form-control" type="text" id="Sat02-@index">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-1-5">
                                                                                    <div class="form-group has-feedback">
                                                                                        <label class="control-label">HGT</label>
                                                                                        <input class="form-control" type="text" id="HGT-@index">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-1-5">
                                                                                    <div class="form-group">
                                                                                        <label class="control-label">Glasgow</label>
                                                                                        <input class="form-control" type="text" id="Glasgow-@index">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-1-5">
                                                                                    <a class="btn btn-nor bg-purpleTest" onclick="ConcatFields(@index)"><i class="fa fa-plus-circle"></i></a>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-12">

                                                                                    <div class="form-group has-feedback">
                                                                                        <label class="control-label">Avaliação Médica</label>
                                                                                        <textarea class="form-control" name="PatientModels[@index].Description" id="Evaluation-@index" rows="3">@patient.Description</textarea>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <input hidden name="PatientModels[@index].Id" value="@patient.Id" />

                                                                            <div class="row">
                                                                                <div class="col-md-5">
                                                                                    <button type="submit" class="btn btn-sm bg-purpleTest"><i class="fa fa-save"></i> Gravar</button>
                                                                                </div>
                                                                            </div>

                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }

                                                    </div>
                                                </div>

                                            </form>

                                            <div class="box-header with-border">
                                                <h5 class="box-title text-white">
                                                    Histórico de Avaliação Médica
                                                </h5>
                                            </div>
                                            <div class="direct-chat-messages">
                                                <table id="" class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th class="wt20">Data</th>
                                                            <th class="wt15">Profissional</th>
                                                            <th class="wt15">Paciente</th>
                                                            <th class="wt50">Avaliação</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="">
                                                        @foreach (var item in Model.MedicalEvaluationModels)
                                                        {
                                                            <tr>
                                                                <td>@item.Date</td>
                                                                <td>@item.EmployeeName</td>
                                                                <td>@(item?.PatientModel?.Name ?? "")</td>
                                                                <td>@item.Evaluation</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>

                                            <hr />

                                            <h5 class="text-white">Painel de Decisões Médicas</h5>


                                            <div class="">
                                                <a id="btnRegister" href="@Url.Action("MedicalDecision", "Evaluation", new { emergencyId = Model.Id, orientation = "Orientação Médica Sem Envio de Veículo" })" class="btn btn-block btn-default">Orientação Médica Sem Envio de Veículo</a>
                                                <a id="btnCancel" href="@Url.Action("MedicalDecision", "Evaluation", new { emergencyId = Model.Id, orientation = "Solicitar Apoio Bombeiro" })" class="btn btn-block btn-default">Solicitar Apoio Bombeiro</a>
                                                <a id="btnRegister" href="@Url.Action("MedicalDecision", "Evaluation", new { emergencyId = Model.Id, orientation = "Solicitar Apoio PM" })" class="btn btn-block btn-default">Solicitar Apoio PM</a>
                                                @*<a id="btnCancel" class="btn btn-block btn-default">Repasse Bombeiro</a>*@
                                                @*<a id="btnCancel" class="btn btn-block btn-default">Repasse SAMU</a>*@
                                            </div>

                                            <hr />

                                            <div class="sidebar-menu" data-widget="tree">
                                                <div class="treeview">
                                                    <a href="#"> <i class="fa fa-ambulance"></i> <span>Envio de Veículos</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>
                                                    <div class="treeview-menu">
                                                        <!-- Veículos  -->
                                                        <div class="">
                                                            <div class="row">

                                                                <div class="col-md-3">

                                                                    <div class="info-box">
                                                                        <span class="info-box-icon bg-red"><i class="fa fa-ambulance"></i></span>
                                                                        <span class=""> <span class="info-box-number">USB</span> <span class="info-box-text"></span> </span>
                                                                    </div>

                                                                    <ul class="fc-color-picker" id="color-chooser">
                                                                        <li><a class="text-light-blue" href="@Url.Action("SendVehicle", "Evaluation", new { emergencyId = Model.Id, vehicleType = VehicleType.USB, codeColor = CodeColor.Blue })"><i class="fa fa-square"></i></a></li>
                                                                        <li><a class="text-yellow" href="@Url.Action("SendVehicle", "Evaluation", new { emergencyId = Model.Id, vehicleType = VehicleType.USB, codeColor = CodeColor.Yellow })"><i class="fa fa-square"></i></a></li>
                                                                        <li><a class="text-green" href="@Url.Action("SendVehicle", "Evaluation", new { emergencyId = Model.Id, vehicleType = VehicleType.USB, codeColor = CodeColor.Green })"><i class="fa fa-square"></i></a></li>
                                                                        <li><a class="text-red" href="@Url.Action("SendVehicle", "Evaluation", new { emergencyId = Model.Id, vehicleType = VehicleType.USB, codeColor = CodeColor.Red })"><i class="fa fa-square"></i></a></li>
                                                                    </ul>
                                                                </div>

                                                                <div class="col-md-3">

                                                                    <div class="info-box">
                                                                        <span class="info-box-icon bg-red"><i class="fa fa-ambulance"></i></span>
                                                                        <span class=""> <span class="info-box-number">USA</span> <span class="info-box-text"></span> </span>
                                                                    </div>

                                                                    <ul class="fc-color-picker" id="color-chooser">
                                                                        <li><a class="text-light-blue" href="@Url.Action("SendVehicle", "Evaluation", new { emergencyId = Model.Id, vehicleType = VehicleType.USA, codeColor = CodeColor.Blue })"><i class="fa fa-square"></i></a></li>
                                                                        <li><a class="text-yellow" href="@Url.Action("SendVehicle", "Evaluation", new { emergencyId = Model.Id, vehicleType = VehicleType.USA, codeColor = CodeColor.Blue })"><i class="fa fa-square"></i></a></li>
                                                                        <li><a class="text-green" href="@Url.Action("SendVehicle", "Evaluation", new { emergencyId = Model.Id, vehicleType = VehicleType.USA, codeColor = CodeColor.Blue })"><i class="fa fa-square"></i></a></li>
                                                                        <li><a class="text-red" href="@Url.Action("SendVehicle", "Evaluation", new { emergencyId = Model.Id, vehicleType = VehicleType.USA, codeColor = CodeColor.Blue })"><i class="fa fa-square"></i></a></li>
                                                                    </ul>
                                                                </div>

                                                                <div class="col-md-3">

                                                                    <div class="info-box">
                                                                        <span class="info-box-icon bg-red"><i class="fas fa-helicopter"></i></span>
                                                                        <span class=""> <span class="info-box-number">HEL</span> <span class="info-box-text"></span> </span>
                                                                    </div>

                                                                    <ul class="fc-color-picker" id="color-chooser">
                                                                        <li><a class="text-light-blue" href="@Url.Action("SendVehicle", "Evaluation", new { emergencyId = Model.Id, vehicleType = VehicleType.HEL, codeColor = CodeColor.Blue })"><i class="fa fa-square"></i></a></li>
                                                                        <li><a class="text-yellow" href="@Url.Action("SendVehicle", "Evaluation", new { emergencyId = Model.Id, vehicleType = VehicleType.HEL, codeColor = CodeColor.Blue })"><i class="fa fa-square"></i></a></li>
                                                                        <li><a class="text-green" href="@Url.Action("SendVehicle", "Evaluation", new { emergencyId = Model.Id, vehicleType = VehicleType.HEL, codeColor = CodeColor.Blue })"><i class="fa fa-square"></i></a></li>
                                                                        <li><a class="text-red" href="@Url.Action("SendVehicle", "Evaluation", new { emergencyId = Model.Id, vehicleType = VehicleType.HEL, codeColor = CodeColor.Blue })"><i class="fa fa-square"></i></a></li>
                                                                    </ul>
                                                                </div>

                                                                <div class="col-md-3">

                                                                    <div class="info-box">
                                                                        <span class="info-box-icon bg-red"><i class="fa fa-plane"></i></span>
                                                                        <span class=""> <span class="info-box-number">AVI</span> <span class="info-box-text"></span> </span>
                                                                    </div>

                                                                    <ul class="fc-color-picker" id="color-chooser">
                                                                        <li><a class="text-light-blue" href="@Url.Action("SendVehicle", "Evaluation", new { emergencyId = Model.Id, vehicleType = VehicleType.AVI, codeColor = CodeColor.Blue })"><i class="fa fa-square"></i></a></li>
                                                                        <li><a class="text-yellow" href="@Url.Action("SendVehicle", "Evaluation", new { emergencyId = Model.Id, vehicleType = VehicleType.AVI, codeColor = CodeColor.Blue })"><i class="fa fa-square"></i></a></li>
                                                                        <li><a class="text-green" href="@Url.Action("SendVehicle", "Evaluation", new { emergencyId = Model.Id, vehicleType = VehicleType.AVI, codeColor = CodeColor.Blue })"><i class="fa fa-square"></i></a></li>
                                                                        <li><a class="text-red" href="@Url.Action("SendVehicle", "Evaluation", new { emergencyId = Model.Id, vehicleType = VehicleType.AVI, codeColor = CodeColor.Blue })"><i class="fa fa-square"></i></a></li>
                                                                    </ul>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />


                                            <div class="box-header with-border">
                                                <h5 class="box-title text-white">
                                                    Histórico de Decisões Médicas
                                                </h5>
                                            </div>
                                            <div class="direct-chat-messages">
                                                <table id="" class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th class="wt20">Data/Hora</th>
                                                            <th class="wt15">Profissional</th>
                                                            <th class="wt45">Decisão Técnica</th>
                                                            <th class="wt20">Observação</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="">
                                                        @foreach (var item in Model.MedicalDecisionHistoryModels)
                                                        {
                                                            <tr>
                                                                <td>@item.Date</td>
                                                                <td>@item.EmployeeName</td>
                                                                <td>@item.Description</td>
                                                                <td>@item.CodeColor.GetEnumDescription()</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="box-header with-border">
                                                <h5 class="box-title text-white">
                                                    Histórico de Veículos Enviados
                                                </h5>
                                            </div>
                                            <div class="direct-chat-messages">
                                                <table id="" class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th class="wt10">Cod.</th>
                                                            <th class="wt15">Data/Hora</th>
                                                            <th class="wt10">J9</th>
                                                            <th class="wt10">J10</th>
                                                            <th class="wt10">J9</th>
                                                            <th class="wt10">J10</th>
                                                            <th class="wt10">J11</th>
                                                            <th class="wt25">Observação</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="">
                                                        <tr>
                                                            <td class="wt10">Azul</td>
                                                            <td class="wt15">Data/Hora</td>
                                                            <td class="wt10">07:28</td>
                                                            <td class="wt10">07:50</td>
                                                            <td class="wt10">08:15</td>
                                                            <td class="wt10">08:30</td>
                                                            <td class="wt10">08:40</td>
                                                            <td class="wt25">USB 01 - Ambulancia apresentou falha mecanica</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="wt10">Azul</td>
                                                            <td class="wt15">Data/Hora</td>
                                                            <td class="wt10">07:28</td>
                                                            <td class="wt10">07:50</td>
                                                            <td class="wt10">08:15</td>
                                                            <td class="wt10">08:30</td>
                                                            <td class="wt10">08:40</td>
                                                            <td class="wt25">USB 01 - Ambulancia apresentou falha mecanica</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="wt10">Azul</td>
                                                            <td class="wt15">Data/Hora</td>
                                                            <td class="wt10">07:28</td>
                                                            <td class="wt10">07:50</td>
                                                            <td class="wt10">08:15</td>
                                                            <td class="wt10">08:30</td>
                                                            <td class="wt10">08:40</td>
                                                            <td class="wt25">USB 01 - Ambulancia apresentou falha mecanica</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <hr />

                                            <div class="">
                                                <a href="@Url.Action("Finish", "Evaluation", new { emergencyId = Model.Id })" id="btnRegister" class="btn btn-block bg-purpleTest">Finalizar Ocorrência</a>
                                            </div>

                                            <hr />
                                        </div><!--ACaba card body da pagina-->

                                    </div>
                                </div>
                            </div>
                        </div> @*Final TabContent*@
                    }

                </div>

            </div>
        </div>
    </div>
    <!-- Main row -->
</div>


<div hidden class="tab-pane" id="tabExample" role="tabpanel" aria-expanded="false">

    <div class="row m-t-3-1">
        <div class="col-lg-12">
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleinputemail1">Paciente</label>
                    <input type="text" class="form-control" id="exampleinputemail1" placeholder="Nome" name="PatientModels[0].Name">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="location1">Sexo</label>
                            <select class="custom-select form-control" id="location1" name="PatientModels[0].Gender">
                                <option value="0">Selecione</option>
                                <option value="1">Feminino</option>
                                <option value="2">Masculino</option>
                                <option value="3">Indeterminado</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group has-feedback">
                            <label class="control-label">Idade</label>
                            <input class="form-control" placeholder="" type="number" name="PatientModels[0].Age">
                        </div>
                    </div>
                </div>

                <div class="card-group align-items-center">
                    <div class="col-1-5">
                        <div class="form-group has-feedback">
                            <label class="control-label">PA</label>
                            <input class="form-control" type="text" id="PA-">
                        </div>
                    </div>
                    <div class="col-1-5">
                        <div class="form-group has-feedback">
                            <label class="control-label">FC</label>
                            <input class="form-control" type="text" id="FC-">
                        </div>
                    </div>
                    <div class="col-1-5">
                        <div class="form-group has-feedback">
                            <label class="control-label">FR</label>
                            <input class="form-control" type="text" id="FR-">
                        </div>
                    </div>
                    <div class="col-1-5">
                        <div class="form-group has-feedback">
                            <label class="control-label">Temp</label>
                            <input class="form-control" type="text" id="Temp-">
                        </div>
                    </div>
                    <div class="col-1-5">
                        <div class="form-group has-feedback">
                            <label class="control-label">SatO2</label>
                            <input class="form-control" type="text" id="Sat02-">
                        </div>
                    </div>
                    <div class="col-1-5">
                        <div class="form-group has-feedback">
                            <label class="control-label">HGT</label>
                            <input class="form-control" type="text" id="HGT-">
                        </div>
                    </div>
                    <div class="col-1-5">
                        <div class="form-group">
                            <label class="control-label">Glasgow</label>
                            <input class="form-control" type="text" id="Glasgow-">
                        </div>
                    </div>
                    <div class="col-1-5">
                        <a class="btn btn-nor bg-purpleTest" onclick="ConcatFields()"><i class="fa fa-plus-circle"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <div class="form-group has-feedback">
                            <label class="control-label">Avaliação Médica</label>
                            <textarea class="form-control" id="Evaluation-" rows="3" name="PatientModels[0].Description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">

                    @*arrumar*@
                    <div class="col-md-5">
                        <a class="btn btn-sm bg-purpleTest"><i class="fa fa-save"></i> Gravar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClYGY0602EMNEOdHTFm0UWoisuKoF73u4&region=BR&language=pt&callback=initAutocomplete&libraries=places&v=weekly"></script>
<link href="~/css/maps.css" rel="stylesheet" />
<script src="~/js/maps.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>



<script>

    function RefreshEmergencies() {
        $.ajax({
            url: '/Evaluation/Emergencies',
            type: "GET",
            success: function (partialViewResult) {
                debugger;
                $("#refTable").empty();
                $("#refTable").append(partialViewResult);
            }
        });
    }

    window.setInterval(RefreshEmergencies, 5000);
</script>

<script>
    //Cuidado ao mexer

    $(function () {
        $('#example1').DataTable()
        $('#example2').DataTable({
            'paging': false,
            'lengthChange': false,
            'searching': false,
            'ordering': false,
            'info': false,
            'autoWidth': false,
            'scrollY': "200px",
            'scrollCollapse': true,
            'responsive': true
        })
    });

    function ConcatFields(idPatient) {

        var pa = $('#PA-' + idPatient);
        var fc = $('#FC-' + idPatient);
        var fr = $('#FR-' + idPatient);
        var temp = $('#Temp-' + idPatient);
        var sat02 = $('#Sat02-' + idPatient);
        var hgt = $('#HGT-' + idPatient);
        var glas = $('#Glasgow-' + idPatient);

        var evalution = $('#Evaluation-' + idPatient).val();

        var result = '';
        if (pa.val().trim() != '')
            result += 'PA: ' + pa.val() + ' - ';
        if (fc.val().trim() != '')
            result += 'FC ' + fc.val() + ' - ';
        if (fr.val().trim() != '')
            result += 'FR ' + fr.val() + ' - ';
        if (temp.val().trim() != '')
            result += 'Temp ' + temp.val() + ' - ';
        if (sat02.val().trim() != '')
            result += 'Sat02 ' + sat02.val() + ' - ';
        if (hgt.val().trim() != '')
            result += 'HGT ' + hgt.val() + ' - ';
        if (glas.val().trim() != '')
            result += 'Glasgow ' + glas.val() + ' ';

        if (evalution.trim() != '') {
            $('#Evaluation-' + idPatient).val(evalution + ' ' + result);
        } else {
            $('#Evaluation-' + idPatient).val(result);
        }

        pa.val('');
        fc.val('');
        fr.val('');
        temp.val('');
        sat02.val('');
        hgt.val('');
        glas.val('');

    }

    var numberPacient = @Model.PatientModels.Count(); //Variável deve receber a quantidade de paciente do back-end
    function AddPatientsTab() {

        var navAddPatients = '<li class="nav-item" id="navAddPatients"><a onclick="AddPatientsTab()" class="nav-link" data-toggle="tab" role="tab" aria-expanded="false" href="#"><i class="fa fa-plus-circle"></i></a></li>';

        var navPatient = '<li class="nav-item"> <a id="navPatient" class="nav-link" data-toggle="tab" href="#patient" role="tab" aria-expanded="false">Paciente</a> </li>';

        navPatient = navPatient.replace('#patient', '#patient-' + numberPacient)
            .replace('navPatient', 'navPatient-' + numberPacient);

        $('#navAddPatients').remove();
        $('#navsPatient').append(navPatient);
        $('#navsPatient').append(navAddPatients);

        var tab = $('#tabExample').html();

        tab = '<div class="tab-pane" id="patient-2" role="tabpanel" aria-expanded="false">' + tab + '</div>';
        tab = tab.replace('patient-2', 'patient-' + numberPacient)
            .replace('PA-', 'PA-' + numberPacient)
            .replace('FC-', 'FC-' + numberPacient)
            .replace('FR-', 'FR-' + numberPacient)
            .replace('Temp-', 'Temp-' + numberPacient)
            .replace('Sat02-', 'Sat02-' + numberPacient)
            .replace('HGT-', 'HGT-' + numberPacient)
            .replace('Glasgow-', 'Glasgow-' + numberPacient)
            .replace('ConcatFields()', 'ConcatFields(' + numberPacient + ')')
            .replace('Evaluation-', 'Evaluation-' + numberPacient);

        tab = tab.replace("PatientModels[0]", "PatientModels[" + numberPacient + "]")
        tab = tab.replace("PatientModels[0]", "PatientModels[" + numberPacient + "]")
        tab = tab.replace("PatientModels[0]", "PatientModels[" + numberPacient + "]")
        tab = tab.replace("PatientModels[0]", "PatientModels[" + numberPacient + "]")

        $('#tabsPatient').append(tab);
        window.setTimeout(SelectTab, 300);
    }

    function SelectTab() {
        $('#navPatient-' + numberPacient).click();

        numberPacient += 1;
    }

    function appendCancel() {
        $('#btnCancel').attr('disabled', true);
        $('#btnRegister').attr('disabled', true);
        $("#cancel").removeClass();
    }

    function Pesquisar() {
        window.setTimeout(PesquisarTeste, 1000);
    }

    function PesquisarTeste() {
        var input = document.getElementById('pac-input');

        google.maps.event.trigger(input, 'focus', {});
        google.maps.event.trigger(input, 'keydown', { keyCode: 13 });
        google.maps.event.trigger(this, 'focus', {});
    }
</script>
